@import '_colors.scss';
// @use '_utils.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-background: #0e0e0e;
  --color-logo: #ff5b50;
  --card-color: #252525;
  --text-color: #fff;
  --subtitle-color: #5a5757;
  --black-text: #000;
  --color-input: #0d0d0d;

  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  color: $text-color;
  background-color: $body-background;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
strong {
  font-weight: 700;
}

p {
  color: $text-color;
  font-size: 1.8rem;
}

a {
  text-decoration: none;
  color: $text-color;
}

span,
u {
  color: $color-logo;
  font-size: inherit;
}

.container {
  max-width: calc(127.7rem + (3rem * 2));
  margin: 0 auto;
  padding: 0 3rem;
}
